___

<a href='https://mainacademy.ua/'> <img src='https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png' alt = 'Хмм, щось з інтернетом'/></a>
___

# Module 4: Work with data professionally!

## Lab work 4

#### Мета: 

* навчитися обробляти дані
* "парсити" сайти

### Завдання 1:

#### Ознайомитися із API Національного банку 
https://old.bank.gov.ua/control/uk/publish/article?art_id=38441973&cat_id=38459171#exchange

1. Підключитися до API.

In [1]:
import requests
from datetime import datetime, timedelta
import statistics

In [2]:

def con_to_api(date):
    param = {'date' : date.strftime('%Y%m%d'), 'valcode' : 'USD'}
    r = requests.get('https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?json', params=param)
    if r.status_code == 200:
        return r.json()[0]['rate']
    return None

2. Отримати курс долара за останній рік.

In [3]:
from datetime import datetime, timedelta
from statistics import median, mean

import requests

BASE = [] 

def con_to_api(date):
    param = {'date' : date.strftime('%Y%m%d'), 'valcode' : 'USD'}
    r = requests.get('https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?json', params=param)
    if r.status_code == 200:
        return r.json()[0]['rate']
    return None


def union_info(qty):
    
    date = datetime.today()
    
    for i in range(qty):
        date = date - timedelta(days=1)
        rate = con_to_api(date)
        BASE.append(rate)


if __name__ == '__main__':
    qty = int(input('Введіть к-сть днів для аналітики: '))
    union_info(qty)
    print(f"Середнє значення USD за останні {qty} днів становить = {mean(BASE)}")

Введіть к-сть днів для аналітики: 20
Середнє значення USD за останні 20 днів становить = 27.881805

3. Вивести середнє значення та відхилення курсу за кожний місяць.

In [4]:
year_ago  = datetime.today() - timedelta(days=365)

In [5]:
rate_list = [(con_to_api(year_ago+timedelta(days=i)),((year_ago+timedelta(days=i)).year*100+(year_ago+timedelta(days=i)).month)) for i in range(365)]

In [6]:
year_month = set([i[1] for i in rate_list])

In [7]:
l2 = []
for j in year_month:
    month = str(j)[4:]
    year = str(j)[0:4]
    mean = sum([i[0] for i in rate_list if i[1]==j])/len([i[0] for i in rate_list if i[1]==j])
    stdev = statistics.stdev([i[0] for i in rate_list if i[1]==j])
    l2.append((month,year,mean,stdev))
l2

[('04', '2021', 27.889860000000006, 0.0657634008312292),
 ('04', '2020', 27.120145, 0.0918190295320668),
 ('05', '2020', 26.814329032258055, 0.13470483335438327),
 ('06', '2020', 26.707343333333327, 0.07284717438646436),
 ('07', '2020', 27.312838709677415, 0.3642097762530265),
 ('08', '2020', 27.52141935483871, 0.14819453525541967),
 ('09', '2020', 27.97671666666667, 0.2409137677795668),
 ('10', '2020', 28.324951612903224, 0.055517948274816174),
 ('11', '2020', 28.310153333333343, 0.1508870820853458),
 ('12', '2020', 28.16971935483871, 0.24976838393380232),
 ('01', '2021', 28.219770967741937, 0.1231532113359842),
 ('02', '2021', 27.88466071428571, 0.10631085913415092),
 ('03', '2021', 27.79555806451613, 0.11551466219833594)]

4. Дану інформацію записати у файл за допомогою pickle.

In [8]:
import pickle

with open('rate_last365.pickle', 'wb') as f: 
    pickle.dump(l2, f)

### Завдання 2:

Потрібно проаналізувати всі товари на сайті: 
https://smallpacking.agrosem.ua/shop/

Створіть базу даних, що містить таблицю із такими стовбцями: 
    - артикул товару
    - найменування
    - ціна 
    - вага

In [9]:
HEADERS = {
            'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:49.0) Gecko/20100101 Firefox/49.0',
            'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
            'Accept-Language': 'en-US,en;q=0.5',
            'Accept-Encoding': 'gzip, deflate',
            'DNT': '1',
            'Connection': 'keep-alive',
            'Upgrade-Insecure-Requests': '1'
        }

In [10]:
import requests
from bs4 import BeautifulSoup

SITE = 'https://smallpacking.agrosem.ua/shop/page/'

In [11]:
prod_links = []
for i in range(1,4):
    r = requests.get(SITE+str(i), headers=HEADERS)

    if r.status_code == 200:
        soup = BeautifulSoup(r.text, 'lxml')
        for el in soup.find_all('div', class_='product-from-category-container'):
            prod_links.append(el.find('a')['href'])

In [12]:
sku = []
price = []
name = []
weight = []
for i in range(len(prod_links)):
    r = requests.get(prod_links[i], headers=HEADERS)
    if r.status_code == 200:
            soup = BeautifulSoup(r.text, 'lxml')
    for el in soup.find('span', class_ = 'sku'):
        sku.append(el.split()[1])

    try:
        for el in soup.find('span', class_ = 'regular-price'):
            price1 = "".join(el.split())
            price1 = int(price1)
           
            price.append(price1)
    except TypeError:
        None

    for el in soup.find('div', class_ = 'atributes-description').find('h2'):
        name.append(el)

    for el in soup.find_all('tr', class_ = 'woocommerce-product-attributes-item--attribute_pa_fasovka-dobriv'):
        weight.append(el.find('p').text)

In [13]:
import sqlite3

In [15]:
conn = sqlite3.connect('agrosem_site1.sqlite3')
curs = conn.cursor()
curs.execute("CREATE TABLE semena (sku TEXT,name TEXT, price INT, weight TEXT)")
conn.close()

In [16]:
conn = sqlite3.connect('agrosem_site1.sqlite3')
curs = conn.cursor()
for i in range(len(sku)):
    curs.execute("INSERT INTO semena (sku, name, price, weight)"
              " VALUES (?, ?, ?, ?)",
              (sku[i], name[i], price[i], weight[i]))
conn.commit()
conn.close()

In [17]:
conn = sqlite3.connect('agrosem_site1.sqlite3')
curs = conn.cursor()
curs.execute('SELECT * FROM semena')
print(curs.fetchall())
conn.close()

[('439226', 'Добриво для фруктових та горіхових дерев', 415, '1 кг, 3 кг'), ('1297', 'Добриво для ягідних чагарників', 415, '1 кг, 3 кг'), ('91897', 'Добриво для ягідних чагарників', 173, '1 кг, 3 кг'), ('61169', 'Добриво універсальне грунтове', 173, '1 кг, 10 кг, 3 кг'), ('6651824', 'Добриво універсальне грунтове', 415, '1 кг, 10 кг, 3 кг'), ('5227876', 'Добриво універсальне грунтове', 1149, '1 кг, 10 кг, 3 кг'), ('32237', 'Добриво для декоративних листових', 415, '1 кг, 3 кг'), ('4165215', 'Добриво для вічнозелених дерев та кущів', 1149, '1 кг, 10 кг, 3 кг'), ('682645', 'Добриво універсальне грунтове', 415, '1 кг, 10 кг, 3 кг'), ('7435', 'Добриво універсальне грунтове', 173, '1 кг, 10 кг, 3 кг'), ('9354141', 'Добриво для газону', 415, '1 кг, 10 кг, 3 кг'), ('1955', 'Добриво для вічнозелених дерев та кущів', 173, '1 кг, 10 кг, 3 кг'), ('455799', 'Добриво для газону', 173, '1 кг, 10 кг, 3 кг'), ('991645', 'Добриво для декоративних листових', 173, '1 кг, 3 кг'), ('17477', 'Добриво універсальне грунтове', 1149, '1 кг, 10 кг, 3 кг'), ('7143174', 'Добриво для газону', 415, '1 кг, 10 кг, 3 кг'), ('3593', 'Добриво для полуниці', 173, '1 кг'), ('4738184', 'Добриво для вічнозелених дерев та кущів', 415, '1 кг, 10 кг, 3 кг'), ('3177412', 'Добриво для фруктових та горіхових дерев', 173, '1 кг, 3 кг'), ('16762', 'Добриво для газону', 1149, '1 кг, 10 кг, 3 кг'), ('78747', 'Добриво для декоративних листових', 415, '1 кг, 3 кг'), ('5218', 'Добриво для вічнозелених дерев та кущів', 1149, '1 кг, 10 кг, 3 кг'), ('33486', 'Добриво для декоративних листових', 173, '1 кг, 3 кг'), ('198742', 'Добриво для овочів', 415, '1 кг, 3 кг'), ('797756', 'Добриво для винограду', 173, '1 кг'), ('726319', 'Добриво для вічнозелених дерев та кущів', 415, '1 кг, 10 кг, 3 кг'), ('789868', 'Добриво для газону', 155, '1 кг, 10 кг, 3 кг'), ('88255', 'Добриво для овочів', 173, '1 кг, 3 кг'), ('68183', 'Добриво для розсади', 173, '1 кг'), ('5656841', 'Добриво для тепличних овочів', 415, '1 кг, 3 кг'), ('2217672', 'Добриво для троянд', 173, '1 кг'), ('8362626', 'Добриво для вічнозелених дерев та кущів', 155, '1 кг, 10 кг, 3 кг'), ('375738', 'Добриво для газону', 1149, '1 кг, 10 кг, 3 кг'), ('51561', 'Добриво для тепличних овочів', 173, '1 кг, 3 кг')]

### Завдання 3:

Ознайомтеся із роботою SQLite та відповідним модулем у Python.
Завантажте базу даних для виконання лабораторної роботи.
Підключіться до завантаженої бази SQLite.

1. Виведіть інформацію про дану базу.

In [30]:
con = sqlite3.connect('tysql.sqlite')
cursor = con.cursor()
cursor.execute("SELECT * FROM sqlite_master")
print(cursor.fetchall())
conn.close()

[('table', 'Customers', 'Customers', 2, 'CREATE TABLE Customers\n(\n  cust_id      char(10)  NOT NULL ,\n  cust_name    char(50)  NOT NULL ,\n  cust_address char(50)  NULL ,\n  cust_city    char(50)  NULL ,\n  cust_state   char(5)   NULL ,\n  cust_zip     char(10)  NULL ,\n  cust_country char(50)  NULL ,\n  cust_contact char(50)  NULL ,\n  cust_email   char(255) NULL ,\n  PRIMARY KEY (cust_id)\n)'), ('index', 'sqlite_autoindex_Customers_1', 'Customers', 3, None), ('table', 'OrderItems', 'OrderItems', 4, 'CREATE TABLE OrderItems\n(\n  order_num  int          NOT NULL                      ,\n  order_item int          NOT NULL                      ,\n  prod_id    char(10)     NOT NULL                      ,\n  quantity   int          NOT NULL                      ,\n  item_price decimal(8,2) NOT NULL                      ,\n  PRIMARY KEY (order_num, order_item)                   ,\n  FOREIGN KEY (order_num) REFERENCES Orders (order_num) ,\n  FOREIGN KEY (prod_id) REFERENCES Products (prod_id)\n)'), ('index', 'sqlite_autoindex_OrderItems_1', 'OrderItems', 5, None), ('table', 'Orders', 'Orders', 7, 'CREATE TABLE Orders\n(\n  order_num  int      NOT NULL ,\n  order_date datetime NOT NULL ,\n  cust_id    char(10) NOT NULL ,\n  PRIMARY KEY (order_num)      ,\n  FOREIGN KEY (cust_id) REFERENCES Customers (cust_id)\n)'), ('index', 'sqlite_autoindex_Orders_1', 'Orders', 9, None), ('table', 'Products', 'Products', 10, 'CREATE TABLE Products\n(\n  prod_id    char(10)      NOT NULL ,\n  vend_id    char(10)      NOT NULL ,\n  prod_name  char(255)     NOT NULL ,\n  prod_price decimal(8,2)  NOT NULL ,\n  prod_desc  text          NULL     ,\n  PRIMARY KEY (prod_id)             ,\n  FOREIGN KEY (vend_id) REFERENCES Vendors (vend_id)\n)'), ('index', 'sqlite_autoindex_Products_1', 'Products', 11, None), ('table', 'Vendors', 'Vendors', 12, 'CREATE TABLE Vendors\n(\n  vend_id      char(10) NOT NULL ,\n  vend_name    char(50) NOT NULL ,\n  vend_address char(50) NULL     ,\n  vend_city    char(50) NULL     ,\n  vend_state   char(5)  NULL     ,\n  vend_zip     char(10) NULL     ,\n  vend_country char(50) NULL     ,\n  PRIMARY KEY (vend_id)\n)'), ('index', 'sqlite_autoindex_Vendors_1', 'Vendors', 13, None)]

2. Виведіть перелік всіх таблиць.

In [29]:
con = sqlite3.connect('tysql.sqlite')
cursor = con.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
print(cursor.fetchall())
conn.close()

[('Customers',), ('OrderItems',), ('Orders',), ('Products',), ('Vendors',)]

3. Список всіх cust_id з таблиці Customers table.

In [31]:
con = sqlite3.connect('tysql.sqlite')
cursor = con.cursor()
cursor.execute("SELECT cust_id FROM Customers")
print(cursor.fetchall())
conn.close()

[('1000000001',), ('1000000002',), ('1000000003',), ('1000000004',), ('1000000005',)]

4. Всю таблицю Customers table

In [33]:
con = sqlite3.connect('tysql.sqlite')
cursor = con.cursor()
cursor.execute("SELECT * FROM Customers")
print(cursor.fetchall())
conn.close()

[('1000000001', 'Village Toys', '200 Maple Lane', 'Detroit', 'MI', '44444', 'USA', 'John Smith', 'sales@villagetoys.com'), ('1000000002', 'Kids Place', '333 South Lake Drive', 'Columbus', 'OH', '43333', 'USA', 'Michelle Green', None), ('1000000003', 'Fun4All', '1 Sunny Place', 'Muncie', 'IN', '42222', 'USA', 'Jim Jones', 'jjones@fun4all.com'), ('1000000004', 'Fun4All', '829 Riverside Drive', 'Phoenix', 'AZ', '88888', 'USA', 'Denise L. Stephens', 'dstephens@fun4all.com'), ('1000000005', 'The Toy Store', '4545 53rd Street', 'Chicago', 'IL', '54545', 'USA', 'Kim Howard', None)]

5. Список клієнтів (cust_names) відсортованих від Z до A

In [36]:
con = sqlite3.connect('tysql.sqlite')
cursor = con.cursor()
cursor.execute("SELECT cust_name FROM Customers ORDER BY cust_name DESC")
print(cursor.fetchall())
conn.close()

[('Village Toys',), ('The Toy Store',), ('Kids Place',), ('Fun4All',), ('Fun4All',)]

6. Таблицю клієнтів та замовлень (cust_id і order_num) . Відсортуйте по клієнту і потім по даті замовлення

In [42]:
script = """
SELECT cust_name,order_num
FROM Customers 
JOIN Orders ON Customers.cust_id = Orders.cust_id
ORDER BY cust_name, Orders.order_date



"""

con = sqlite3.connect('tysql.sqlite')
cursor = con.cursor()
cursor.execute(
    script)
print(cursor.fetchall())
conn.close()

[('Fun4All', 20006), ('Fun4All', 20007), ('The Toy Store', 20008), ('Village Toys', 20009), ('Village Toys', 20005)]

7. Таблицю (на основі Items) з кількість та вартістю товару. Відсортуйте в порядку спадання по кількості та вартості

In [44]:
script = """
SELECT quantity, item_price
FROM OrderItems
ORDER BY  quantity DESC, item_price DESC


"""

con = sqlite3.connect('tysql.sqlite')
cursor = con.cursor()
cursor.execute(
    script)
print(cursor.fetchall())
conn.close()

[(250, 2.49), (250, 2.49), (250, 2.49), (100, 10.99), (100, 5.49), (100, 2.99), (100, 2.99), (100, 2.99), (50, 11.49), (50, 4.49), (20, 5.99), (10, 11.99), (10, 8.99), (10, 3.49), (10, 3.49), (10, 3.49), (5, 11.99), (5, 4.99)]

8. Товар (з таблиці Products), ціна якого становить 9.49

9. Виведіть назву товару та ціну, яка лежить в діапазоні від  3 до 6. Відсортуйте результат в по ціні в порядку зростання

10. Кількість товару, що було продано

11. Кількість найменувань товару, ціна якого більша за 4

12. Розробіть алгоритм для виведення 3 найдорожчих товарів в базі

13. Підрахуйте кількість замовлень для кожного клієнта використовуючи підзапити

14. Виведіть список клієнтів та їх замовлення (використайте JOIN)

15. Зробіть два запити: список товарів, ціна яких менша 5 та список товарів, ціна який більша рівна 5. Використайте UNION для об'єднання цих запитів

### Завдання 4:

Зареєструйтеся на сайті  http://www.sql-ex.ru/

Виконайте завдання із блоку SELECT; з 1 по 30 завдання

Код запитів вставляйте сюди